h4 {
    font-size: large;
}

p {
    padding: 0;
    margin-bottom: 10px;
}

#interests, #interests ul {
    list-style-type: none;
}

#interests {
    padding-left: 0;
}

#personal-img {
    max-height: 300px;
}

#about-email {
    font-size: 1em;
}

#about-email i:hover {
    opacity: 100%;
}

#about-socials {
    font-size: 2rem;
}

#resume-link {
    margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
    #about-email {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 850px) and (max-width: 992px) {
    #about-email {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1096px) {
    #about-email {
        font-size: 0.8em;
    }
}