h4 {
    font-size: large;
}

p {
    padding: 0;
    margin-bottom: 10px;
}

#skills, #skills ul {
    list-style-type: none;
}

#skills {
    padding-left: 0;
}

#personal-img {
    max-height: 300px;
}

#about-socials {
    font-size: 1.5rem;
}

#resume-link {
    margin: 0;
}