body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    /* content justified in media query */
    margin-top: 30px;
}

#looking-for-work {
    padding-top: 30px;
    padding-bottom: 30px;
}

#projects {
    border: none;
    margin-top: 10px;
    margin-bottom: 5vh;
    max-height: 97%;
}

#projects-mask {
    /* -webkit-mask-image: linear-gradient(to top, transparent 0%, black 5%);
    mask-image: linear-gradient(to top, transparent 0%, black 5%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-card-wrapper {
    max-height: 88vh;
    overflow-y: scroll;
    width: 75%;
    overflow-x: hidden;
}

#projects-card-wrapper::-webkit-scrollbar {
    display: none;
}

#projects-title {
    font-family: 'Sora', sans-serif;
    color: var(--dark-brown);
}

.project-img {
    background-color: transparent;
    width: 100%;
    object-fit: contain;
    transition: transform 0.6s;
}

.project-img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.img-separator {
    border-width: 2px;
    border-color: var(--dark-brown);
}

@media only screen and (min-width: 768px) {
    #home {
        height: 100vh;
        padding-top: 0;
    }

    #projects {
        border-left: 2px solid var(--dark-brown);
        margin-bottom: 10px;
    }
}

@media only screen and (min-height: 414px) {
    #home {
        justify-content: center;
        margin-top: 0px;
    }
}