body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#home {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#looking-for-work {
    padding-top: 30px;
    padding-bottom: 30px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    overflow-x: hidden;
}

#projects-cards {
    width: 75%;
}

#projects::-webkit-scrollbar, #projects-cards::-webkit-scrollbar  {
    display: none;
}

#projects, #projects-cards {
    scrollbar-width: none;
}

.project-img {
    background-color: transparent;
    width: 100%;
    object-fit: contain;
    transition: transform 0.6s;
}

.project-img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.img-separator {
    border-width: 2px;
    border-color: var(--dark-brown);
}

@media only screen and (min-width: 768px) {
    #home {
        height: 100vh;
        padding-top: 0px;
    }

    #projects {
        border-left: 2px solid var(--dark-brown);
        max-height: 97vh;
        overflow-y: scroll;
    }
}

@media only screen and (min-height: 414px) {
    #home {
        justify-content: center;
        margin-top: 0px;
    }
}