body {
    overflow-x: hidden;
    overflow-y: scroll;
}

#home {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#looking-for-work {
    padding-top: 30px;
}

#projects {
    border: none;
    margin-top: 10px;
    margin-bottom: 5vh;
    max-height: 97vh;
}

#projects-mask {
    /* -webkit-mask-image: linear-gradient(to top, transparent 0%, black 5%);
    mask-image: linear-gradient(to top, transparent 0%, black 5%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-card-wrapper {
    max-height: 88vh;
    overflow-y: scroll;
    width: 75%;
    overflow-x: hidden;
}

#projects-card-wrapper::-webkit-scrollbar {
    display: none;
}

#projects-title {
    font-family: 'Sora', sans-serif;
    color: var(--dark-brown);
}

.project-img {
    background-color: transparent;
    width: 100%;
    object-fit: contain;
    transition: transform 0.6s;
}

.project-img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.img-separator {
    border-width: 2px;
    border-color: var(--dark-brown);
}

@media only screen and (min-width: 768px) {
    body {
        overflow-y: hidden;
    }

    #home {
        height: 100vh;
        padding-top: 0;
        /* justify-content: center; */
    }

    #projects {
        border-left: 3px solid var(--dark-brown);
        margin-bottom: 0px;
    }
}