:root {
    --main-brown: #4D3227;
    --dark-brown: #3B261E;
    --main-cream: #F2CEAE;
    --secondary: #D95204;
    --link: #D90416;
    --link-dark: #80010D;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--main-cream);
    color: var(--dark-brown);

    scrollbar-width: 10px;
}

h1, h4, h5 {
    font-family: 'Sora', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--dark-brown);
}

h4, h5 {
    color: var(--secondary);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a {
    color: var(--link);
}

a:hover {
    color: var(--link-dark);
    text-decoration: none;
}

i:hover {
    opacity: 80%;
}

.card:hover {
    cursor: pointer;
}

.sidebar {
    background-color: var(--main-brown);
    color: var(--main-cream);
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    scrollbar-width: none;
}

#sidebar-close-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0 !important;
    right: 0 !important;
    margin: 0;
    padding: 0;
}

#sidebar-close-button:hover {
    cursor: pointer;
}

.sidebar-content {
    position: relative;
    top: 10vh;
    display: flex;
    justify-content: top;
    flex-direction: column;
}

.sidebar-header div a {
    text-decoration: none;
}

#sidebar-profile-img {
    width: 40%;
}

.sidebar-navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-navigation a {
    color: var(--main-cream);
    text-decoration: none;
    font-weight: 500;
}

.sidebar-navigation a.active {
    background-color: var(--main-cream);
    color: var(--main-brown);
}

.sidebar-navigation a:hover:not(.active) {
    background-color: var(--main-cream);
    color: var(--main-brown);
}

.sidebar-navigation ul li a {
    font-size: 0.9rem;
    display: block;
}

.sidebar-navigation ul li.active>a,
a[aria-expanded="true"] {
    background: var(--dark-brown);
    color: var(--main-cream);
}

#projects-submenu {
    margin-bottom: 0;
}

#projects-submenu li a {
    background: var(--dark-brown);
}

#projects-submenu li a:hover, #projects-submenu li a.active {
    background-color: var(--main-cream);
}

.copyright {
    font-size: 0.8em;
    opacity: 80%;
}

.topbar {
    background-color: var(--main-brown);
    width: 100%;
}

#topbar-content {
    display: flex;
    align-items: center;
}

#hamburger-icon-container:hover {
    cursor: pointer;
}

#hamburger-icon {
    width: 64px;
    height: 64px;
}

#topbar-text {
    color: var(--main-cream);
    font-size: large;
}

.page-main-container {
    padding-left: 10%;
    padding-right: 10%;
}

@media only screen and (max-width: 767px) {
    .sidebar {
        font-size: 24px;
    }

    .sidebar-navigation ul li a {
        font-size: 20px;
    }

    /* #sidebar-close-icon, #hamburger-icon { */
    #sidebar-close-icon {
        width: 96px;
        height: 96px;
    }

    .page-main-container {
        max-width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 576px) {
    #sidebar-profile-img {
        width: 30%;
    }
}
 
@media only screen and (min-width: 768px) {
    .sidebar {
        display: block !important;
    }

    #sidebar-close-button {
        display: none !important;
    }

    #sidebar-profile-img {
        width: 50%;
    }
}