* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
    font-style: extrabold;
    color: #984B43;
}

footer {
    background-color: #18121E;
    color: white;
}

.navbar {
    background-color: #18121E;
}

.navbar-brand {
    font-family: 'Tahoma', sans-serif;
    letter-spacing: 1px;
}

.card:hover {
    cursor: pointer;
}

/* #home, #about {
    background-color: #E9F7FD;
} */

/* #projects, #contact {
    background-color: #FAC898;
} */

#newaffless-picture {
    width: 30%;
    height: auto;
}

.sidebar {
    width: 100%;
    background-color: #f1f1f1;
    height: 100vh;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 700px) {
    .sidebar {
        height: 100vh;
    }
}