h2, h3, h4, h5 {
    color: #CD7700;
    font-family: 'Sora', sans-serif;
}

h5 {
    font-size: medium;
}

h4 {
    font-size: large;
}

.project-content {
    padding-left: 10%;
    padding-right: 10%;
}

.project-header {
    padding: 10px;
    /* background-color: #F5F5F5;
    border-width: 2px;
    border-style: outset; */
}

.video-sidebar {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-description {
    margin-bottom: 30px;
}

.project-carousel {
    margin-bottom: 30px;
}

/* FIXME: carousel height at different screen sizes */
.project-carousel img {
    height: 500px !important;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.project-features {
    margin-bottom: 30px;
}

.project-features ul, .project-credits ul {
    list-style-type: none;
}

.project-credits p {
    font-size: small;
}