h5 {
    font-size: medium;
}

h4 {
    font-size: large;
}

.sidebar-navigation a[aria-expanded="false"] {
    background-color: var(--dark-brown);
}

.project-header {
    padding: 10px;
}

.video-sidebar {
    font-size: small;
    display: flex;
    flex-direction: column;
}

#figma-button-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.my-button {
    background-color: #333;
    color: #f5f5f5;
    width: 40%;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-button:hover {
    opacity: 80%;
    color: #f5f5f5;
}

#gh-repo-button-icon {
    margin-right: 10px;
}

#gh-repo-button-icon {
    font-size: 1rem;
    display: none;
}

.figma-logo {
    stroke: #f5f5f5;
    width: 10px;
    min-width: 10px;
    margin-right: 10px;
}

.my-button:hover .figma-logo {
    stroke: #f5f5f5;
}

.project-description {
    margin-bottom: 30px;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

.project-carousel {
    margin-bottom: 30px;
}

.project-features {
    margin-bottom: 30px;
}

.project-features ul, .project-credits ul {
    list-style-type: none;
}

#project-features-list {
    padding-left: 0;
}

.project-additional {
    margin-bottom: 30px;
}

.project-credits p {
    font-size: small;
}

@media only screen and (max-width: 330px) {
    .my-button {
        width: 60%;
    }
}

@media only screen and (max-width: 360px) {
    .figma-logo {
        display: none;
    }
}

@media only screen and (min-width: 400px) {
    #gh-repo-button-icon {
        display: block;
    }
}

/* TEMPORARY CSS */
.video-replacement-img {
    width: 100%;
}